src/main/java/org/olat/modules/oaipmh/schemas/openolat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ <a href="https://www.openolat.org">
  ~ OpenOLAT - Online Learning and Training</a><br>
  ~ <p>
  ~ Licensed under the Apache License, Version 2.0 (the "License"); <br>
  ~ you may not use this file except in compliance with the License.<br>
  ~ You may obtain a copy of the License at the
  ~ <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache homepage</a>
  ~ <p>
  ~ Unless required by applicable law or agreed to in writing,<br>
  ~ software distributed under the License is distributed on an "AS IS" BASIS, <br>
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. <br>
  ~ See the License for the specific language governing permissions and <br>
  ~ limitations under the License.
  ~ <p>
  ~ Initial code contributed and copyrighted by<br>
  ~ frentix GmbH, https://www.frentix.com
  ~ <p>
 -->


<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.openolat.com/oai_oo" xmlns:tns="http://www.openolat.com/oai_oo" elementFormDefault="qualified">

    <element name="OAI-PMH" type="oai:OAI-PMHtype"/>

    <complexType name="OAI-PMHtype">
        <sequence>
            <element name="responseDate" type="dateTime"/>
            <element name="request" type="oai:requestType"/>
            <choice>
                <element name="error" type="oai:OAI-PMHerrorType" maxOccurs="unbounded"/>
                <element name="Identify" type="oai:IdentifyType"/>
                <element name="ListMetadataFormats" type="oai:ListMetadataFormatsType"/>
                <element name="ListSets" type="oai:ListSetsType"/>
                <element name="GetRecord" type="oai:GetRecordType"/>
                <element name="ListIdentifiers" type="oai:ListIdentifiersType"/>
                <element name="ListRecords" type="oai:ListRecordsType"/>
            </choice>
        </sequence>
    </complexType>

    <complexType name="requestType">
        <annotation>
            <documentation>Define requestType, indicating the protocol request that
                led to the response. Element content is BASE-URL, attributes are arguments
                of protocol request, attribute-values are values of arguments of protocol
                request</documentation>
        </annotation>
        <simpleContent>
            <extension base="anyURI">
                <attribute name="verb" type="oai:verbType" use="optional"/>
                <attribute name="identifier" type="oai:identifierType" use="optional"/>
                <attribute name="metadataPrefix" type="oai:metadataPrefixType" use="optional"/>
                <attribute name="from" type="oai:UTCdatetimeType" use="optional"/>
                <attribute name="until" type="oai:UTCdatetimeType" use="optional"/>
                <attribute name="set" type="oai:setSpecType" use="optional"/>
                <attribute name="resumptionToken" type="string" use="optional"/>
            </extension>
        </simpleContent>
    </complexType>

    <simpleType name="verbType">
        <restriction base="string">
            <enumeration value="Identify"/>
            <enumeration value="ListMetadataFormats"/>
            <enumeration value="ListSets"/>
            <enumeration value="GetRecord"/>
            <enumeration value="ListIdentifiers"/>
            <enumeration value="ListRecords"/>
        </restriction>
    </simpleType>

    <!-- define OAI-PMH error conditions -->
    <!-- =============================== -->

    <complexType name="OAI-PMHerrorType">
        <simpleContent>
            <extension base="string">
                <attribute name="code" type="oai:OAI-PMHerrorcodeType" use="required"/>
            </extension>
        </simpleContent>
    </complexType>

    <simpleType name="OAI-PMHerrorcodeType">
        <restriction base="string">
            <enumeration value="cannotDisseminateFormat"/>
            <enumeration value="idDoesNotExist"/>
            <enumeration value="badArgument"/>
            <enumeration value="badVerb"/>
            <enumeration value="noMetadataFormats"/>
            <enumeration value="noRecordsMatch"/>
            <enumeration value="badResumptionToken"/>
            <enumeration value="noSetHierarchy"/>
        </restriction>
    </simpleType>

    <!-- define OAI-PMH verbType containers -->
    <!-- ============================== -->

    <complexType name="IdentifyType">
        <sequence>
            <element name="repositoryName" type="string"/>
            <element name="baseURL" type="anyURI"/>
            <element name="protocolVersion" type="oai:protocolVersionType"/>
            <element name="adminEmail" type="oai:emailType" maxOccurs="unbounded"/>
            <element name="earliestDatestamp" type="oai:UTCdatetimeType"/>
            <element name="deletedRecord" type="oai:deletedRecordType"/>
            <element name="granularity" type="oai:granularityType"/>
            <element name="compression" type="string" minOccurs="0" maxOccurs="unbounded"/>
            <element name="description" type="oai:descriptionType"
                     minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="ListMetadataFormatsType">
        <sequence>
            <element name="metadataFormat" type="oai:metadataFormatType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="ListSetsType">
        <sequence>
            <element name="set" type="oai:setType" maxOccurs="unbounded"/>
            <element name="resumptionToken" type="oai:resumptionTokenType" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="GetRecordType">
        <sequence>
            <element name="record" type="oai:recordType"/>
        </sequence>
    </complexType>

    <complexType name="ListRecordsType">
        <sequence>
            <element name="record" type="oai:recordType" maxOccurs="unbounded"/>
            <element name="resumptionToken" type="oai:resumptionTokenType" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="ListIdentifiersType">
        <sequence>
            <element name="header" type="oai:headerType" maxOccurs="unbounded"/>
            <element name="resumptionToken" type="oai:resumptionTokenType" minOccurs="0"/>
        </sequence>
    </complexType>

    <!-- define basic types used in replies to
         GetRecord, ListRecords, ListIdentifiers -->
    <!-- ======================================= -->

    <complexType name="recordType">
        <annotation>
            <documentation>A record has a header, a metadata part, and
                an optional about container</documentation>
        </annotation>
        <sequence>
            <element name="header" type="oai:headerType"/>
            <element name="metadata" type="oai:metadataType" minOccurs="0"/>
            <element name="about" type="oai:aboutType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="headerType">
        <annotation>
            <documentation>A header has a unique identifier, a datestamp,
                and setSpec(s) in case the item from which
                the record is disseminated belongs to set(s).
                the header can carry a deleted status indicating
                that the record is deleted.</documentation>
        </annotation>
        <sequence>
            <element name="identifier" type="oai:identifierType"/>
            <element name="datestamp" type="oai:UTCdatetimeType"/>
            <element name="setSpec" type="oai:setSpecType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="status" type="oai:statusType" use="optional"/>
    </complexType>

    <simpleType name="identifierType">
        <restriction base="anyURI"/>
    </simpleType>

    <simpleType name="statusType">
        <restriction base="string">
            <enumeration value="deleted"/>
        </restriction>
    </simpleType>

    <complexType name="metadataType">
        <annotation>
            <documentation>Metadata must be expressed in XML that complies
                with another XML Schema (namespace=#other). Metadata must be
                explicitly qualified in the response.</documentation>
        </annotation>
        <sequence>
            <any namespace="##other" processContents="strict"/>
        </sequence>
    </complexType>

    <complexType name="aboutType">
        <annotation>
            <documentation>Data "about" the record must be expressed in XML
                that is compliant with an XML Schema defined by a community.</documentation>
        </annotation>
        <sequence>
            <any namespace="##other" processContents="strict"/>
        </sequence>
    </complexType>

    <complexType name="resumptionTokenType">
        <annotation>
            <documentation>A resumptionToken may have 3 optional attributes
                and can be used in ListSets, ListIdentifiers, ListRecords
                responses.</documentation>
        </annotation>
        <simpleContent>
            <extension base="string">
                <attribute name="expirationDate" type="dateTime" use="optional"/>
                <attribute name="completeListSize" type="positiveInteger" use="optional"/>
                <attribute name="cursor" type="nonNegativeInteger" use="optional"/>
            </extension>
        </simpleContent>
    </complexType>

    <complexType name="descriptionType">
        <annotation>
            <documentation>The descriptionType is used for the description
                element in Identify and for setDescription element in ListSets.
                Content must be compliant with an XML Schema defined by a
                community.</documentation>
        </annotation>
        <sequence>
            <any namespace="##other" processContents="strict"/>
        </sequence>
    </complexType>

    <simpleType name="UTCdatetimeType">
        <annotation>
            <documentation>Datestamps are to either day (type date)
                or to seconds granularity (type oai:UTCdateTimeZType)</documentation>
        </annotation>
        <union memberTypes="date oai:UTCdateTimeZType"/>
    </simpleType>

    <simpleType name="UTCdateTimeZType">
        <restriction base="dateTime">
            <pattern value=".*Z"/>
        </restriction>
    </simpleType>

    <!-- define types used for Identify verbType only -->
    <!-- ======================================== -->

    <simpleType name="protocolVersionType">
        <restriction base="string">
            <enumeration value="2.0"/>
        </restriction>
    </simpleType>

    <simpleType name="emailType">
        <restriction base="string">
            <pattern value="\S+@(\S+\.)+\S+"/>
        </restriction>
    </simpleType>

    <simpleType name="deletedRecordType">
        <restriction base="string">
            <enumeration value="no"/>
            <enumeration value="persistent"/>
            <enumeration value="transient"/>
        </restriction>
    </simpleType>

    <simpleType name="granularityType">
        <restriction base="string">
            <enumeration value="YYYY-MM-DD"/>
            <enumeration value="YYYY-MM-DDThh:mm:ssZ"/>
        </restriction>
    </simpleType>

    <!-- define types used for ListMetadataFormats verbType only -->
    <!-- =================================================== -->

    <complexType name="metadataFormatType">
        <sequence>
            <element name="metadataPrefix" type="oai:metadataPrefixType"/>
            <element name="schema" type="anyURI"/>
            <element name="metadataNamespace" type="anyURI"/>
        </sequence>
    </complexType>

    <simpleType name="metadataPrefixType">
        <restriction base="string">
            <pattern value="[A-Za-z0-9\-_\.!~\*'\(\)]+"/>
        </restriction>
    </simpleType>

    <!-- define types used for ListSets verbType -->
    <!-- =================================== -->

    <complexType name="setType">
        <sequence>
            <element name="setSpec" type="oai:setSpecType"/>
            <element name="setName" type="string"/>
            <element name="setDescription" type="oai:descriptionType"
                     minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <simpleType name="setSpecType">
        <restriction base="string">
            <pattern value="([A-Za-z0-9\-_\.!~\*'\(\)])+(:[A-Za-z0-9\-_\.!~\*'\(\)]+)*"/>
        </restriction>
    </simpleType>


    <element name="metadata">
        <complexType>
            <sequence minOccurs="0" maxOccurs="1">
                <element minOccurs="1" maxOccurs="unbounded" name="element" type="tns:Element" />
            </sequence>
        </complexType>
    </element>

</schema>